html
    head
        title Random quotes
        style
            include css/main.css
    body
        div(class="motivational-div")
            i(class="great-quotes")= testField + " -"
            b(class="great-quotes")= authorName 
        div(class="keep-up-div")
            a(href="#") Add your own
