extends ./template.jade

block body
    div(class="motivational-div")
        i(class="great-quotes")= text
        b(class="great-quotes")= " -" + author 
    div
        a(href="/new") Add your own
