@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html {
    text-align: center;
    font-family: 'Open Sans Condensed';
    background-color: rgb(189, 246, 222);
    box-shadow: inset 0px 0px 20px rgb(40, 45, 62);
}

@media (min-width: 400px) {
    html { box-shadow: inset 0px 0px 80px rgb(40, 45, 62); }
}

@media (min-width: 800px) {
    html { box-shadow: inset 0px 0px 200px rgb(40, 45, 62); }
}

@media (min-width: 1400px) {
    html { box-shadow: inset 0px 0px 600px rgb(40, 45, 62); }
}

body {
    padding-top: 50px;
}

.motivational-div {
    padding : 30px;
    font-size: 28px;
}

@media screen and (max-width: 400) {
    .motivational-div {
        padding: 15px;
        padding-top: 39px;
        font-size: 28px;
    }
}
